/.coverage
/coverage.xml
/.tox/

__pycache__

/results/*/.coverage
/results/*/cosmic_ray/*.toml
/results/*/coverages/*.xml
/results/*/generated_tests/**/__init__.py
/results/*/generated_tests/**/test_*.py
/results/*/statistics.csv
.idea/
